@media screen and (max-width: 728px) {
  .presentation {
    text-align: center;
    color: var(--violet);
    margin: 50px 30px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

    &__bis {
      margin-top: 25px;
      margin-bottom: 80px;
    }
  }

  @keyframes cards-accueil {
    from {
      transform: scale(0);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 145px;
    height: 183px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: var(--title-accueil-font);
    font-weight: var(--title-accueil-font-weight);
    font-size: var(--title-accueil-font-size);
    color: var(--violet);
    animation: cards-accueil 1000ms 150ms both;

    $shake-intensity: 2%;

    @keyframes headshake {
      25% {
        transform: translatex($shake-intensity);
      }
      75% {
        transform: translateX(-$shake-intensity);
      }
    }

    &__one {
      background-color: #bcf5cc;
    }
    .headshake {
      animation: 570.055ms ease 1110.74ms 3 normal none running headshake;
      animation-timing-function: ease-in-out;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(-360deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    &__two {
      background-color: #fceda2;
    }
    .spin {
      animation: 990.228ms ease 1257.32ms 1 normal none running spin;
      animation-timing-function: ease-in-out;
    }

    @keyframes skew {
      0% {
        transform: skew(0deg);
      }
      25% {
        transform: skew(-8deg);
      }
      50% {
        transform: skew(0deg);
      }
      75% {
        transform: skew(6deg);
      }
      100% {
        transform: skew(0deg);
      }
    }
    &__three {
      background-color: #f8be61;
    }
    .skew {
      animation: 1000ms ease 1254.06ms 1 normal none running skew;
      animation-timing-function: ease-in-out;
    }

    @keyframes scale {
      0% {
        transform: scale(1);
      }
      33% {
        transform: scale(1.05);
      }
      66% {
        transform: scale(1.1);
      }
      88% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }

    &__four {
      background-color: #b6d6f2;
    }
    .scale {
      animation: 1000ms ease 1257.32ms 1 normal none running scale;
      animation-timing-function: ease-in-out;
    }
  }
}
