/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap");
/* Pages */
@media screen and (max-width: 728px) {
  .presentation {
    text-align: center;
    color: var(--violet);
    margin: 50px 30px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .container__bis {
    margin-top: 25px;
    margin-bottom: 80px;
  }
  @keyframes cards-accueil {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 145px;
    height: 183px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: var(--title-accueil-font);
    font-weight: var(--title-accueil-font-weight);
    font-size: var(--title-accueil-font-size);
    color: var(--violet);
    animation: cards-accueil 1000ms 150ms both;
  }
  @keyframes headshake {
    25% {
      transform: translatex(2%);
    }
    75% {
      transform: translateX(-2%);
    }
  }
  .box__one {
    background-color: #bcf5cc;
  }
  .box .headshake {
    animation: headshake 250ms 200ms 12 both;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(360deg);
    }
    66% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .box__two {
    background-color: #fceda2;
  }
  .box .spin {
    animation: spin 2000ms 200ms 2 both;
  }
  @keyframes skew {
    0% {
      transform: skew(0deg);
    }
    17% {
      transform: skew(5deg);
    }
    24% {
      transform: skew(10deg);
    }
    46% {
      transform: skew(5deg);
    }
    100% {
      transform: skew(0deg);
    }
  }
  .box__three {
    background-color: #f8be61;
  }
  .box .skew {
    animation: skew 2s 200ms 3 both;
  }
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    33% {
      transform: scale(1.1);
    }
    66% {
      transform: scale(1.2);
    }
    88% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .box__four {
    background-color: #b6d6f2;
  }
  .box .scale {
    animation: scale 2s 200ms 2 both;
  }
}
/* Modules */
@media screen and (max-width: 728px) {
  header {
    background-color: #432e42;
    height: 156px;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 35px;
  }
  .logo__site {
    display: flex;
    margin-top: 30px;
  }
  .logo__menu {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 728px) {
  footer {
    background-color: var(--violet);
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer {
    display: flex;
    margin-top: 10px;
    gap: 70px;
  }
}
@media screen and (max-width: 728px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  :root {
    /*Design System*/
    /*Colors*/
    --background-color: #432e42;
    --white: #ffffff;
    --violet: #432e42;
    --yellow: #edff45;
    --pink: #b56fb2;
    --linear: #432e42 #b56fb2;
    /* Text configuration */
    --body-font: "Mukta Mahee";
    --body-font-weight: 500;
    --body-font-size: 1.75rem;
    --body-highlight-font: "Mukta Mahee";
    --body-highlight-font-weight: 700;
    --body-highlight-font-size: 1.5rem;
    --h1-font: "Mukta Mahee";
    --h1-font-weight: 600;
    --h1-font-size: 2.5rem;
    --h2-font: "Dancing Script";
    --h2-font-weight: 500;
    --h2-font-size: 2rem;
    --h3-font: "Mukta Mahee";
    --h3-font-weight: 500;
    --h3-font-size: 1.125rem;
    --title-accueil-font: "Dancing Script";
    --title-accueil-font-weight: 500;
    --title-accueil-font-size: 1.625rem;
    --menu-font: "Mukta Mahee";
    --menu-font-weight: 500;
    --menu-font-size: 1.5rem;
    --cta-font: "Mukta Mahee";
    --cta-font-weight: 500;
    --cta-font-size: 1.125rem;
    --title-adresses-font: "Mukta Mahee";
    --title-adresses-font-weight: 600;
    --title-adresses-font-size: 2rem;
    --adresses-font: "Mukta Mahee";
    --adresses-font-weight: 500;
    --adresses-font-size: 1.375rem;
    --card-h1-font: "Dancing Script";
    --card-h1-font-weight: 700;
    --card-h1-font-size: 2.5rem;
    --card-h2-font: "Mukta Mahee";
    --card-h2-font-weight: 700;
    --card-h2-font-size: 1.375rem;
    --card-h3-font: "Mukta Mahee";
    --card-h3-font-weight: 700;
    --card-h3-font-size: 1rem;
    --card-number-font: "Mukta Mahee";
    --card-number-font-weight: 700;
    --card-number-font-size: 1.5rem;
  }
  body {
    width: 428px;
    background-color: var(--white);
    font-family: var(--body-font);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    color: var(--violet);
  }
  h1 {
    font-family: var(--h1-font);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    color: var(--violet);
  }
  body,
  h1,
  h2,
  h3 {
    font-style: normal;
    line-height: normal;
  }
}/*# sourceMappingURL=main.css.map */