@media screen and (max-width: 728px) {
  footer {
    background-color: var(--violet);
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer {
      display: flex;
      margin-top: 10px;
      gap: 70px;
    }
  }
}
